.title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--content-primary);
}

.label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--always-white);
}

.paragraph {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--content-secondary);
}

.input {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--content-tertiary);
}

.link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--color-brand);
}
